[submodule "profile_checker"]
	path = profile_checker
	url = git@github.com:osint-services/profile_checker
[submodule "profile_search"]
	path = profile_search
	url = git@github.com:osint-services/profile_search
[submodule "phone_search"]
	path = phone_search
	url = git@github.com:osint-services/phone_search
